<div class="container">
    <br>    
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <app-tabla-paises (paisSeleccionado)="paisSelec($event)"></app-tabla-paises>
        </div>
        <div class="col-md-8 order-md-1">
          <div class="loading" *ngIf="cargando">
            <mat-spinner></mat-spinner>
          </div>
          <div *ngIf="!cargando">
            <h4 class="mb-3">Actor</h4>
            <form class="needs-validation" novalidate>
              <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="firstName">Nombre</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Nombre..." [(ngModel)]="actor.nombre" [ngModelOptions]="{standalone: true}" required>
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="lastName">Apellido</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Apellido..." [(ngModel)]="actor.apellido" [ngModelOptions]="{standalone: true}" required>
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                  </div>
                </div>
  
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Sexo</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="actor.sexo" [ngModelOptions]="{standalone: true}">
                    <option value="Terror">Masculino</option>
                    <option value="Comedia">Femenino</option>
                  </select>
                </div>
  
              <div class="mb-3">
                  <label for="fecha" class="col-form-label">Fecha</label>
                  <div>
                      <input class="form-control" type="date" id="fecha" [(ngModel)]="actor.fecha_de_nacimiento" [ngModelOptions]="{standalone: true}">
                  </div>
              </div>
  
              <div class="mb-3" *ngIf="paisSeleccionado">
                  <label for="nombrePais" class="col-form-label">Pais</label>
                  <div>
                      <input class="form-control" type="text" id="nombrePais" [value]="paisSeleccionado.name" min="1" [ngModelOptions]="{standalone: true}">
                  </div>
              </div>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="cargarActor()">Cargar película</button>
            </form>
          </div>
        </div>
      </div>
    </div>
