<div class="body card-front">
    <div class="center-wrap">
      <div class="section text-center">
        <h4 class="mb-4 pb-3">Log In</h4>
        <form [formGroup]="loginForm" autocomplete="disabled">
          <div class="form-group">
            <input formControlName="username" placeholder="Your email" type="text" class="form-control form-style" [ngClass]="{'is-invalid': isNotValidField('username'), 'is-valid': !isNotValidField('username') && this.f['username'].touched}" id="validationSuccess" required autocomplete="disabled">
            <div class="invalid-feedback" style="font-size: small;">
              {{getErrorMessage('username')}}
           </div>
          </div>	
          <div class="form-group mt-2">
            <input formControlName="password" type="password" name="logpass" class="form-control form-style" placeholder="Your Password" [ngClass]="{'is-invalid': isNotValidField('password'), 'is-valid': !isNotValidField('password') && this.f['password'].touched}" id="logpass" autocomplete="disabled">
            <div class="invalid-feedback" style="font-size: small;">
              {{getErrorMessage('password')}}
           </div>
          </div>
          <div *ngIf="error" class="is-invalid mt-4"></div>
          <div class="invalid-feedback" style="font-size: medium;">
            {{(errorMsj | async)}}
         </div>
          <button [disabled]="loginForm.invalid" (click)="onLogin()" class="btn mt-4">Sign In</button>
          <p class="mb-0 mt-4 text-center"><a (click)="completarLogin()" class="link">Autocomplete</a></p>
        </form>
          </div>
        </div>
  </div>