<div class="container">
    <br>
    <div class="loading" *ngIf="cargando">
        <mat-spinner></mat-spinner>
      </div>
      <div class="row" *ngIf="!cargando">
        <div class="col-md-4 order-md-2 mb-4">
            <app-tabla-actor (actorSeleccionado)="actorSelec($event)"></app-tabla-actor>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Pelicula</h4>
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="nombrePelicula">Nombre película</label>
                <input [(ngModel)]="pelicula.nombre" id="nombrePelicula" type="text" class="form-control" [ngModelOptions]="{standalone: true}" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="pelicula.tipo" [ngModelOptions]="{standalone: true}">
                  <option value="Terror">Terror</option>
                  <option value="Comedia">Comedia</option>
                  <option value="Amor">Amor</option>
                  <option value="Otros">Otros</option>
                </select>
              </div>

            <div class="mb-3">
                <label for="fecha" class="col-form-label">Fecha</label>
                <div>
                    <input class="form-control" type="date" id="fecha" [(ngModel)]="pelicula.fecha_de_estreno" [ngModelOptions]="{standalone: true}">
                </div>
            </div>

            <div class="mb-3">
                <label for="cantidad" class="col-form-label">Cantidad de público</label>
                <div>
                    <input class="form-control" type="number" id="cantidad" [(ngModel)]="pelicula.cantidad_publico" min="1" [ngModelOptions]="{standalone: true}">
                </div>
            </div>

            <div class="mb-3" *ngIf="actorSeleccionado">
                <label for="nombreActor" class="col-form-label">Actor</label>
                <div>
                    <input disabled class="form-control" type="text" id="nombreActor" [value]="nombreCompletoActor" min="1" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="cargarPelicula()">Cargar película</button>
          </form>
        </div>
      </div>
    </div>
